.navbar {
  background-color: blueviolet;
  /*border-radius: 50rem;*/
}

.navbar-nav {
  color: coral;
  border: 1px solid yellowgreen;
  border-radius: 15em;
  padding: 3px;
}

a.nav-link {
  color: maroon;
  border: 1px solid orchid;
  border-radius: 15em;
}

.form-label {
  color: blueviolet;
}

.form-control {
  width: 20%; 
  border: 2px solid black;
}

.main-text {
  color: orchid;
  font-size: 20px;
}

body {
  background-image: url('/static/img/site/zroom.gif'); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}




